@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* roboto font being imported from google fonts*/
body {
    font-family: "Roboto", sans-serif;

    margin: 0px;

    padding: 0px;

}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}